* {
  margin: 5px;
  padding: 0;
}
.batareu div {
  border: 4px solid black;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  box-shadow: 20px 0px 0 -15px;
}
.red {
  position: relative;
  background-color: red;
}
.yellow {
  position: relative;
  background-color: yellow;
}
.green {
  background-color: green;
}
.red::after,
.yellow::after {
  content: '';
  position: absolute;
  background-color: white;
  height: 50px;
}
.red::after {
  left: 50px;
  width: 100px;
}
.yellow::after {
  left: 100px;
  width: 50px;
}


.block {
    position: relative;
    width: 312px;
    height: 15px;
    padding: 30px 20px;
    background: green;
    color: white;
}
.block:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 5px;
    left: -5px;
    width: 362px;
    height: 65px;
    background: green;
}


.buttom{ 
  width: 200px;
  height: 60px;
  padding-top: 10px;
  background-color: rgb(255,176,234);
  color: black;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 60px;
  border: 4px double #fff;
  background: linear-gradient(rgb(254,155,200),rgb(255,196,223),rgb(254,155,200));
}